@model spor_sitesi.Models.Randevu

<h2>Randevu Sil</h2>

<p>Bu randevuyu silmek istediğinizden emin misiniz?</p>

<ul>
    <li><b>Hizmet:</b> @Model.Hizmet?.Ad</li>
    <li><b>Antrenör:</b> @Model.Antrenor?.Ad @Model.Antrenor?.Soyad</li>
    <li><b>Tarih:</b> @Model.Tarih.ToShortDateString()</li>
    <li><b>Saat:</b> @Model.BaslangicSaati</li>
    <li><b>Ücret:</b> @Model.Ucret</li>
</ul>

<form method="post">
    <button type="submit">Sil</button>
    <a href="/Randevular">İptal</a>
</form>
